.botonxd{
    background-color: #092327;
    color: white;
    font-size: 20px;
    text-align: center
    padding: ;
    width: 135px;
    border: 0px; 
    border-radius: 0px;
    position: relative;
    top: -160px; ;
    bottom: ;
    right: ;
    left: 1383px;
}
.botonxd2{
    background-color: #092327;
    color: white;
    font-size: 20px;
    text-align: center
    padding: ;
    width: 160px;
    border: 0px; 
    border-radius: 0px;
    position: relative;
    top: -160px; ;
    bottom: ;
    right: ;
    left: 1370px;
}
.botoncarrito{
    background-color: #092327;
    color: white;
    font-size: 20px;
    text-align: 
    padding: ;
    width: 160px;
    border: 0px; 
    border-radius: 0px;
    position: relative;
    top: -160px; ;
    bottom: ;
    right: ;
    left: 1353px;
    
}

h1{
    color: white;
    font-style:oblique


}


